.Home
{
    margin-top:0px;       
    height:400px;
}
.registerform
{
    max-width:300;
    margin-top:100px;    
   
}
.signinform
{
    max-width:300;
    margin-top:100px;
   
}
.buttons
{
    margin:10px;
}
.carousel-item .img-fluid {
    width:100%;
    height:100%;
  }